# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://github.com/guipsamora/pandas_exercises/blob/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

### Step 3. Assign it to a variable called df.

In [53]:
df = pd.read_csv('C:\\Users\\admin\\Downloads\\student-mat.csv')
df.head(6)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
5,GP,M,16,U,LE3,T,4,3,services,other,...,5,4,2,1,2,5,10,15,15,15

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [23]:
df.iloc[:,0:12].head(5)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother
4,GP,F,16,U,GT3,T,3,3,other,other,home,father

### Step 5. Create a lambda function that captalize strings.

In [58]:
df['Mjob']=map(lambda x: x.capitalize(), df['Mjob'])
df['Mjob'].head(5)

0    At_home
1    At_home
2    At_home
3     Health
4      Other
Name: Mjob, dtype: object

### Step 6. Capitalize both Mjob and Fjob

In [48]:
df['Fjob'].str.upper().head(10)

0     TEACHER
1       OTHER
2       OTHER
3    SERVICES
4       OTHER
5       OTHER
6       OTHER
7     TEACHER
8       OTHER
9       OTHER
Name: Fjob, dtype: object

In [50]:
df['Mjob'] = map(lambda x: x.upper(), df['Mjob'])
df['Mjob'].head()

0    AT_HOME
1    AT_HOME
2    AT_HOME
3     HEALTH
4      OTHER
Name: Mjob, dtype: object

In [49]:
df['Fjob'] = map(lambda x: x.upper(), df['Fjob'])
df['Fjob'].head()

0     TEACHER
1       OTHER
2       OTHER
3    SERVICES
4       OTHER
Name: Fjob, dtype: object

### Step 7. Print the last elements of the data set.

In [45]:
df.drop(['lower','upper'] ,axis=1, inplace=True)
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,upper_desc
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,6,5,6,6,gp
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,3,1,1,3,4,5,5,6,gp
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,10,7,8,10,gp
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,2,1,1,5,2,15,14,15,gp
4,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,2,5,4,6,10,10,gp

In [44]:
df.tail(1)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,Dalc,Walc,health,absences,G1,G2,G3,upper_desc,lower,upper
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,3,5,5,8,9,9,ms,ms,COURSE

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and captalize Mjob and Fjob.

In [51]:
df['Mjob'] = map(lambda x: x.upper(), df['Mjob'])
df['Mjob'].head()

0    AT_HOME
1    AT_HOME
2    AT_HOME
3     HEALTH
4      OTHER
Name: Mjob, dtype: object

In [52]:
df['Mjob'] = map(lambda x: x.upper(), df['Mjob'])
df['Mjob'].head()

0    AT_HOME
1    AT_HOME
2    AT_HOME
3     HEALTH
4      OTHER
Name: Mjob, dtype: object

### Step 9. Create a function called majority that return a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [61]:
df['legal_drink'] = df['age'] >17

In [62]:
df['legal_drink'].head(10)

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
Name: legal_drink, dtype: bool

### Step 10. Multiply every number of the dataset by 10.

In [63]:
df.select_dtypes(exclude=['object']) * 10

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,legal_drink
0,180,40,40,20,20,0,40,30,40,10,10,30,60,50,60,60,10
1,170,10,10,10,20,0,50,30,30,10,10,30,40,50,50,60,0
2,150,10,10,10,20,30,40,30,20,20,30,30,100,70,80,100,0
3,150,40,20,10,30,0,30,20,20,10,10,50,20,150,140,150,0
4,160,30,30,10,20,0,40,30,20,10,20,50,40,60,100,100,0
5,160,40,30,10,20,0,50,40,20,10,20,50,100,150,150,150,0
6,160,20,20,10,20,0,40,40,40,10,10,30,0,120,120,110,0
7,170,40,40,20,20,0,40,10,40,10,10,10,60,60,50,60,0
8,150,30,20,10,20,0,40,20,20,10,10,10,0,160,180,190,0
9,150,30,40,10,20,0,50,50,10,10,10,50,0,140,150,150,0
10,150,40,40,10,20,0,30,30,30,10,20,20,0,100,80,90,0
11,150,20,10,30,30,0,50,20,20,10,10,40,40,100,120,120,0
12,150,40,40,10,10,0,40,30,30,10,30,50,20,140,140,140,0
13,150,40,30,20,20,0,50,40,30,10,20,30,20,100,100,110,0
14,150,20,20,10,30,0,40,50,20,10,10,30,0,140,160,160,0
15,160,40,40,10,10,0,40,40,40,10,20,20,40,140,140,140,0
16,160,40,40,10,30,0,30,20,30,10,20,20,60,130,140,140,0
17,160,30,30,30,20,0,50,30,20,10,10,40,40,80,100,100,0
18,170,30,20,10,10,30,50,50,50,20,40,50,160,60,50,50,0
19,160,40,30,10,10,0,30,10,30,10,30,50,40,80,100,100,0
20,150,40,30,10,20,0,40,40,10,10,10,10,0,130,140,150,0
21,150,40,40,10,10,0,50,40,20,10,10,50,0,120,150,150,0
22,160,40,20,10,20,0,40,50,10,10,30,50,20,150,150,160,0
23,160,20,20,20,20,0,50,40,40,20,40,50,0,130,130,120,0
24,150,20,40,10,30,0,40,30,20,10,10,50,20,100,90,80,0
25,160,20,20,10,10,20,10,20,20,10,30,50,140,60,90,80,0
26,150,20,20,10,10,0,40,20,20,10,20,50,20,120,120,110,0
27,150,40,20,10,10,0,20,20,40,20,40,10,40,150,160,150,0
28,160,30,40,10,20,0,50,30,30,10,10,50,40,110,110,110,0
29,160,40,40,10,20,0,40,40,50,50,50,50,160,100,120,110,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,180,10,30,20,20,0,30,30,40,20,40,30,40,100,100,100,10
366,180,40,40,20,30,0,40,20,20,20,20,50,0,130,130,130,10
367,170,10,10,30,10,10,50,20,10,10,20,10,0,70,60,0,0
368,180,20,30,20,10,0,50,20,30,10,20,40,0,110,100,100,10
369,180,40,40,30,20,0,30,20,20,40,20,50,100,140,120,110,10
370,190,30,20,20,20,20,30,20,20,10,10,30,40,70,70,90,10
371,180,10,20,30,10,0,40,30,30,20,30,30,30,140,120,120,10
372,170,20,20,10,30,0,30,40,30,10,10,30,80,130,110,110,0
373,170,10,20,10,10,0,30,50,50,10,30,10,140,60,50,50,0
374,180,40,40,20,30,0,50,40,40,10,10,10,0,190,180,190,10
375,180,10,10,40,30,0,40,30,20,10,20,40,20,80,80,100,10
376,200,40,20,20,30,20,50,40,30,10,10,30,40,150,140,150,10
377,180,40,40,10,20,0,50,40,30,30,40,20,40,80,90,100,10
378,180,30,30,10,20,0,40,10,30,10,20,10,0,150,150,150,10
379,170,30,10,10,20,0,40,50,40,20,30,10,170,100,100,100,0
380,180,40,40,10,20,0,30,20,40,10,40,20,40,150,140,140,10
381,180,20,10,20,10,0,40,40,30,10,30,50,50,70,60,70,10
382,170,20,30,20,20,0,40,40,30,10,10,30,20,110,110,100,0
383,190,10,10,20,10,10,40,30,20,10,30,50,0,60,50,0,10
384,180,40,20,20,10,10,50,40,30,40,30,30,140,60,50,50,10
385,180,20,20,20,30,0,50,30,30,10,30,40,20,100,90,100,10
386,180,40,40,30,10,0,40,40,30,20,20,50,70,60,50,60,10
387,190,20,30,10,30,10,50,40,20,10,20,50,0,70,50,0,10
388,180,30,10,10,20,0,40,30,40,10,10,10,0,70,90,80,10
389,180,10,10,20,20,10,10,10,10,10,10,50,0,60,50,0,10
390,200,20,20,10,20,20,50,50,40,40,50,40,110,90,90,90,10
391,170,30,10,20,10,0,20,40,50,30,40,20,30,140,160,160,0
392,210,10,10,10,10,30,50,50,30,30,30,30,30,100,80,70,10
393,180,30,20,30,10,0,40,40,10,30,40,50,0,110,120,100,10
394,190,10,10,10,10,0,30,20,30,30,30,50,50,80,90,90,10