### Base python program

#### program return the square of given number

In [3]:
def square(n):
  """Returns the square of a number."""
  squared = n ** 2
  print ("%d squared is %d" % (n, squared))
  return squared

In [4]:
square(10)

10 squared is 100

100

In [5]:
square(25)

25 squared is 625

625

In [6]:
def power(base, exponent):  # Add your parameters here!
  result = base ** exponent
  print ("%d to the power of %d is %d." % (base, exponent, result))

power(37, 4)  # Add your arguments here!

37 to the power of 4 is 1874161.

In [7]:
power(40,4)

40 to the power of 4 is 2560000.

Functions Calling Functions


We've seen functions that can print text or do simple arithmetic, but functions can be much more powerful than that. For example, a function can call another function:

In [8]:
def one_good_turn(n):
  return n + 1
    
def deserves_another(n):
  return one_good_turn(n) + 2

In [10]:
#one_good_turn(1)
deserves_another(3)

6

In [11]:
def one_multi(n):
    return n*2

def two_mut(n):
    """ here i am calling the function one_multi """
    return one_multi(n)*2

In [12]:
two_mut(2)

8

Let's create a few more functions just for good measure.

def shout(phrase):
  if phrase == phrase.upper():
    return "YOU'RE SHOUTING!"
  else:
    return "Can you speak up?"

shout("I'M INTERESTED IN SHOUTING")

In [16]:
def cube(number):
  return number*number*number

def by_three(number):
  if number%3==0:
    return cube(number)
  else:
    return False
""" calling by 9 which is dvisiable by 3"""  
print(by_three(9))
"""calling by 14 which not divisiable by  3"""
by_three(14)

729

False

In [18]:
import math
print(math.sqrt(25))

5.0

In [19]:
from math import sqrt
print(sqrt(25))

5.0

### To know what are all the function avaviable in math Libaray

In [24]:
import math # Imports the math module
everything = dir(math) # Sets everything to a list of things from math
print(everything) # Prints 'em all!

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [26]:
def biggest_number(*args):
  print(max(args))
  return max(args)
    
def smallest_number(*args):
  print(min(args))
  return min(args)

def distance_from_zero(arg):
  print(abs(arg))
  return abs(arg)

biggest_number(-10, -5, 5, 10)
smallest_number(-10, -5, 5, 10)
distance_from_zero(-10)

10
-10
10

10

In [27]:
maximum = max(1000,888)

print(maximum)

1000

In [28]:
minimum =min(34,-5)

print(minimum)

-5

In [29]:
absolute = abs(-42)

print(absolute)

42

type()

Finally, the type() function returns the type of the data it receives as an argument. If you ask Python to do the following:

In [30]:
print(type(19))
print(type(19.0))
print(type("19"))

<class 'int'>
<class 'float'>
<class 'str'>

In [32]:
def shut_down(s):
  if s=="yes":
    return "Shutting down"
  elif s=='no':
    return "Shutdown aborted"
  else:
    return "Sorry"
  
  
print(shut_down("yes"))
print(shut_down("no"))
shut_down("jj")

Shutting down
Shutdown aborted

'Sorry'

Built-In Functions

Perfect! Last but not least, let's review the built-in functions you've learned about in this lesson.

In [36]:
def is_numeric(num):
  return type(num) == int or type(num) == float

print("the max is %d" %max(2, 3, 4)) # 4
print("the min is %d" %min(2, 3, 4)) # 2

abs(2) # 2
abs(-2) # 2

the max is 4
the min is 2

2

In [37]:
def distance_from_zero(num):
  if type(num) == int or type(num) == float:
    return abs(num)
  else:
    return "Nope"
  
  
print(distance_from_zero(-2))
print(distance_from_zero("yes"))

2
Nope

In [38]:
def hotel_cost(nights):
  return 140 * nights

hotel_cost(5)

700

In [41]:
#Getting There
#You're going to need to take a plane ride to get to your location.

def fruit_color(fruit):
  if fruit == "apple":
    return "red"
  elif fruit == "banana":
    return "yellow"
  elif fruit == "pear":
    return "green"
  else:
    return "no idea"

print(fruit_color("banana"))
print(fruit_color("mango"))

yellow
no idea

In [42]:
def plane_ride_cost(city):
  if city=="Charlotte":
    return 183
  elif city=="Tampa":
    return 220
  elif city=="Pittsburgh":
    return 222
  elif city=="Los Angeles":
    return 475
  else:
    return "No idea"
  
print(plane_ride_cost("Tampa"))
print(plane_ride_cost("texas"))

220
No idea

In [43]:
def rental_car_cost(days):
  rent=40
  if days>=7:
    return (rent*days)-50
  elif days>=3:
    return (rent*days)-20
  else:
    return rent*days
  
print(rental_car_cost(7))
print(rental_car_cost(3))
print(rental_car_cost(2))

230
100
80

In [44]:
def trip_cost(city,days):
  return rental_car_cost(days)+hotel_cost(days - 1)+plane_ride_cost(city)

trip_cost("Tampa",5)

960

In [45]:
def trip_cost(city, days, spending_money):
  return rental_car_cost(days) + hotel_cost(days) + plane_ride_cost(city) + spending_money

trip_cost("Tampa",5,1000)

2100

In [46]:
print("the total cost of los anaeles trip is %d " %trip_cost("Los Angeles",5,600 ))

the total cost of los anaeles trip is 1955

### Number Guess

Wanna play a game? In this project, we'll build a program that rolls a pair of dice and asks the user to guess the sum. If the user's guess is equal to the total value of the dice roll, the user wins! Otherwise, the computer wins.

The program should do the following:

Roll a pair of dice.

Add the values of the roll.

Ask the user to guess a number.

Compare the user's guess to the total value.

Determine the winner (user or computer).

Let's begin!

In [50]:
""" Number Guess Program """
from random import randint
from time import sleep

def get_user_guess():
  guess=int(input("guess number: "))
  return guess

def roll_dice(number_of_sides):
  first_roll=randint(1, number_of_sides)
  second_roll=randint(1, number_of_sides)
  max_val=max(first_roll,second_roll)
  print("the max roll: %d " % max_val)
  guess=get_user_guess()
  if guess>max_val:
    print("guess is invalid ")
  else:
    print("Rollling........")
    sleep(2)
    print("The 1st roll is: %d" % first_roll)
    sleep(1)
    print("The 2st roll is: %d" % second_roll)
    sleep(1)
    total_roll=(first_roll+second_roll)
    print("the total value is : %d "% total_roll)
    print("result.......")
    sleep(1)
    if guess == total_roll:
      print("You won!")
    else:
      print("You lost")

In [51]:
    

roll_dice(6)

the max roll: 5
guess number: 3
Rollling........
The 1st roll is: 4
The 2st roll is: 5
the total value is : 9
result.......
You lost

In [52]:
roll_dice(3)

the max roll: 3
guess number: 3
Rollling........
The 1st roll is: 3
The 2st roll is: 1
the total value is : 4
result.......
You lost

### Introduction to Lists

Lists are a datatype you can use to store a collection of different pieces of information as a sequence under a single variable name. (Datatypes you've already learned about include strings, numbers, and booleans.)

You can assign items to a list with an expression of the form

In [54]:
zoo_animals = ["pangolin", "cassowary", "sloth","tiger"];
# One animal is missing!

if len(zoo_animals) > 3:
  print("The first animal at the zoo is the " + zoo_animals[0])
  print("The second animal at the zoo is the " + zoo_animals[1])
  print("The third animal at the zoo is the " + zoo_animals[2])
  print("The fourth animal at the zoo is the " + zoo_animals[3])

The first animal at the zoo is the pangolin
The second animal at the zoo is the cassowary
The third animal at the zoo is the sloth
The fourth animal at the zoo is the tiger

### Access by Index

You can access an individual item on the list by its index. An index is like an address that identifies the item's place in the list. The index appears directly after the list name, in between brackets, like this: list_name[index].

List indices begin with 0, not 1! You access the first item in a list like this: list_name[0]. The second item in a list is at index 1: list_name[1]. Computer scientists love to start counting from zero.

In [55]:
numbers = [5, 6, 7, 8]

print("Adding the numbers at indices 0 and 2...")
print(numbers[0] + numbers[2])
print("Adding the numbers at indices 1 and 3...")
# Your code here!
print(numbers[1]+numbers[3])

Adding the numbers at indices 0 and 2...
12
Adding the numbers at indices 1 and 3...
14

In [56]:
zoo_animals = ["pangolin", "cassowary", "sloth", "tiger"]
# Last night our zoo's sloth brutally attacked 
# the poor tiger and ate it whole.

# The ferocious sloth has been replaced by a friendly hyena.
zoo_animals[2] = "hyena"

# What shall fill the void left by our dear departed tiger?
# Your code here!

zoo_animals[3] = "lion"

print(zoo_animals)

['pangolin', 'cassowary', 'hyena', 'lion']

Late Arrivals & List Length

A list doesn't have to have a fixed length. You can add items to the end of a list any time you like!

In [57]:
suitcase = [] 
suitcase.append("sunglasses")

# Your code here!
suitcase.append("glass")
suitcase.append("watch")
suitcase.append("shoe")

list_length = len(suitcase) # Set this to the length of suitcase

print("There are %d items in the suitcase." % (list_length))
print(suitcase)

There are 4 items in the suitcase.
['sunglasses', 'glass', 'watch', 'shoe']

In [59]:
letters = ['a', 'b', 'c']
letters.append('d')
print(len(letters))
print(letters)

4
['a', 'b', 'c', 'd']

## List Slicing
Sometimes, you only want to access a portion of a list. Consider the following code:

In [60]:
suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

# The first and second items (index zero and one)
first = suitcase[0:2]

# Third and fourth items (index two and three)
middle =suitcase[2:4]

# The last two items (index four and five)
last =suitcase[4:6]

In [61]:
first

['sunglasses', 'hat']

In [62]:
middle

['passport', 'laptop']

In [63]:
last

['suit', 'shoes']

### Slicing Lists and Strings
You can slice a string exactly like a list! In fact, you can think of strings as lists of characters: each character is a sequential item in the list, starting from index 0.

In [64]:
animals = "catdogfrog"

# The first three characters of animals
cat = animals[:3]

# The fourth through sixth characters
dog =animals[3:6]

# From the seventh character to the end
frog =animals[6:10]

In [65]:
cat

'cat'

In [66]:
dog

'dog'

In [67]:
frog

'frog'

### Maintaining Order
Sometimes you need to search for an item in a list.

In [68]:
animals = ["aardvark", "badger", "duck", "emu", "fennec fox"]
duck_index = animals.index("duck")
print(duck_index)
# Your code here!
animals.insert(duck_index, "dog")

print(animals) # Observe what prints after the insert operation

2
['aardvark', 'badger', 'dog', 'duck', 'emu', 'fennec fox']

### For One and All

If you want to do something with every item in the list, you can use a for loop. If you've learned about for loops in JavaScript, pay close attention! They're different in Python.

In [69]:
my_list = [1,9,3,8,5,7]

for number in my_list:
  # Your code here
  square=2*number
  print(square)

2
18
6
16
10
14

In [70]:
animals = ["cat", "ant", "bat"]
animals.sort()

for animal in animals:
  print(animal)

ant
bat
cat

In [71]:
start_list = [5, 3, 1, 2, 4]
square_list = []

# Your code here!
for number in start_list:
  square_list.append(number ** 2)
square_list.sort()

print(square_list)

[1, 4, 9, 16, 25]

### This Next Part is Key

A dictionary is similar to a list, but you access values by looking up a key instead of an index. A key can be any string or number. Dictionaries are enclosed in curly braces, like so:

In [72]:
# Assigning a dictionary with three key-value pairs to residents:
residents = {'Puffin' : 104, 'Sloth' : 105, 'Burmese Python' : 106}

print(residents['Puffin']) # Prints Puffin's room number

# Your code here!

print(residents['Sloth'])
print(residents['Burmese Python'])

104
105
106

In [74]:
menu = {} # Empty dictionary
menu['Chicken Alfredo'] = 14.50 # Adding new key-value pair
print(menu['Chicken Alfredo'])

# Your code here: Add some dish-price pairs to menu!
menu['egg'] = 2.50
menu['beer'] = 4.50
menu['soda'] = 1.50
menu['juice'] = 3.50


print("There are " + str(len(menu)) + " items on the menu.")
print(menu)

14.5
There are 5 items on the menu.
{'Chicken Alfredo': 14.5, 'egg': 2.5, 'beer': 4.5, 'soda': 1.5, 'juice': 3.5}

In [76]:
# key - animal_name : value - location 
zoo_animals = { 'Unicorn' : 'Cotton Candy House',
'Sloth' : 'Rainforest Exhibit',
'Bengal Tiger' : 'Jungle House',
'Atlantic Puffin' : 'Arctic Exhibit',
'Rockhopper Penguin' : 'Arctic Exhibit'}
# A dictionary (or list) declaration may break across multiple lines

# Removing the 'Unicorn' entry. (Unicorns are incredibly expensive.)
del zoo_animals['Unicorn']

# Your code here!
del zoo_animals['Sloth']
del zoo_animals['Bengal Tiger']
zoo_animals['Rockhopper Penguin'] = 'Jungle House'

print(zoo_animals)

{'Atlantic Puffin': 'Arctic Exhibit', 'Rockhopper Penguin': 'Jungle House'}

In [77]:
backpack = ['xylophone', 'dagger', 'tent', 'bread loaf']
backpack.remove('dagger')
print(backpack)

['xylophone', 'tent', 'bread loaf']

In [78]:
inventory = {
  'gold' : 500,
  'pouch' : ['flint', 'twine', 'gemstone'], # Assigned a new list to 'pouch' key
  'backpack' : ['xylophone','dagger', 'bedroll','bread loaf']
}

# Adding a key 'burlap bag' and assigning a list to it
inventory['burlap bag'] = ['apple', 'small ruby', 'three-toed sloth']

# Sorting the list found under the key 'pouch'
inventory['pouch'].sort() 

# Your code here
inventory['pocket'] = ['seashell', 'strange berry', 'lint']
inventory['backpack'].sort()
inventory['backpack'].remove('dagger')
inventory['gold'] = inventory['gold'] + 50

In [79]:
print(inventory)

{'gold': 550, 'pouch': ['flint', 'gemstone', 'twine'], 'backpack': ['bedroll', 'bread loaf', 'xylophone'], 'burlap bag': ['apple', 'small ruby', 'three-toed sloth'], 'pocket': ['seashell', 'strange berry', 'lint']}

In [80]:
names = ["Adam","Alex","Mariah","Martine","Columbus"]

for item in names:
  print(item)

Adam
Alex
Mariah
Martine
Columbus

In [81]:
webster = {
  "Aardvark" : "A star of a popular children's cartoon show.",
  "Baa" : "The sound a goat makes.",
  "Carpet": "Goes on the floor.",
  "Dab": "A small amount."
}

# Add your code below!
for i in webster:
  print(webster[i])

A star of a popular children's cartoon show.
The sound a goat makes.
Goes on the floor.
A small amount.

In [82]:
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

for number in a:
  if number%2==0:
    print(number)

0
2
4
6
8
10
12

In [85]:
def count_small(numbers):
  total = 0
  for n in numbers:
    if n < 10:
     total = total + 1
  return total

lotto = [4, 8, 15, 16, 23, 42]
small = count_small(lotto)
print("the count number less than10 in list isd %d "%small)

the count number less than10 in list isd 2

In [86]:
# Write your function below!
def fizz_count(x):
  total=0
  for d in x:
    if d=="fizz":
      total=total+1
  return total

print(fizz_count(["fizz","cat","fizz"]))

2

In [87]:
word = "Programming is fun!"

for letter in word:
  # Only print out the letter i
  if letter == "i":
    print(letter)

i
i

In [88]:
prices={"banana": 4,
"apple": 2,
"orange": 1.5,
"pear": 3}

stock={"banana": 6,
"apple": 0,
"orange": 32,
"pear": 15}

for key in prices:
  print(key)
  print("price: %s" %prices[key])
  print("stock: %s" %stock[key])

banana
price: 4
stock: 6
apple
price: 2
stock: 0
orange
price: 1.5
stock: 32
pear
price: 3
stock: 15

In [91]:
prices = {"banana": 4,"apple": 2,"orange": 1.5,"pear": 3}

stock = {"banana": 6, "apple": 0, "orange": 32, "pear": 15}

total = 0
for food in prices:
  print(prices[food] * stock[food])
  total = total + prices[food] * stock[food]
print(total)

24
0
48.0
45
117.0

In [92]:
def sum(numbers):
  total = 0
  for number in numbers:
    total += number
  return total

n = [1, 2, 5, 10, 13]
print(sum(n))

31

In [94]:
def compute_bill(food):
    total=0
    for i in prices:
        total=total+prices[i]
    return total

In [95]:
compute_bill(stock)

10.5

In [96]:
def compute_bill(food):
  total = 0
  for item in food:
    if stock[item] > 0:
      total += prices[item]
      stock[item] -= 1
  return total

In [97]:
compute_bill(stock)

8.5