# United States - Crime Rates - 1960 - 2014

### Introduction:

This time you will create a data 


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv).

### Step 3. Assign it to a variable called crime.

In [21]:
df=pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv")

In [3]:
df.head(10)

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800
5,1965,193526000,4739400,387390,4352000,9960,23410,138690,215330,1282500,2572600,496900
6,1966,195576000,5223500,430180,4793300,11040,25820,157990,235330,1410100,2822000,561200
7,1967,197457000,5903400,499930,5403500,12240,27620,202910,257160,1632100,3111600,659800
8,1968,199399000,6720200,595010,6125200,13800,31670,262840,286700,1858900,3482700,783600
9,1969,201385000,7410900,661870,6749000,14760,37170,298850,311090,1981900,3888600,878500

### Step 4. What is the type of the columns?


### syntax to know which colunm has the categorical features# syntax

In [4]:

# syntax to know which colunm has the categorical features# syntax 
categorical_features = df.select_dtypes(include = ["object"]).columns
categorical_features

Index([], dtype='object')

### there no categerical features in dataset

In [6]:

# syntax to know which colunm has the numerical features# syntax 
numerical_features = df.select_dtypes(exclude = ["object"]).columns
numerical_features

Index([u'Year', u'Population', u'Total', u'Violent', u'Property', u'Murder',
       u'Forcible_Rape', u'Robbery', u'Aggravated_assault', u'Burglary',
       u'Larceny_Theft', u'Vehicle_Theft'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 12 columns):
Year                  55 non-null int64
Population            55 non-null int64
Total                 55 non-null int64
Violent               55 non-null int64
Property              55 non-null int64
Murder                55 non-null int64
Forcible_Rape         55 non-null int64
Robbery               55 non-null int64
Aggravated_assault    55 non-null int64
Burglary              55 non-null int64
Larceny_Theft         55 non-null int64
Vehicle_Theft         55 non-null int64
dtypes: int64(12)
memory usage: 5.2 KB

##### Have you noticed that the type of Year is int64. But pandas has a different type to work with Time Series. Let's see it now.

### Step 5. Convert the type of the column Year to datetime64

In [11]:
import warnings
warnings.filterwarnings('ignore')
df.year=pd.to_datetime(df.Year)
df.year.head(10)

0   1970-01-01 00:00:00.000001960
1   1970-01-01 00:00:00.000001961
2   1970-01-01 00:00:00.000001962
3   1970-01-01 00:00:00.000001963
4   1970-01-01 00:00:00.000001964
5   1970-01-01 00:00:00.000001965
6   1970-01-01 00:00:00.000001966
7   1970-01-01 00:00:00.000001967
8   1970-01-01 00:00:00.000001968
9   1970-01-01 00:00:00.000001969
Name: Year, dtype: datetime64[ns]

### Step 6. Set the Year column as the index of the dataframe

In [14]:
df.set_index('Year').head(5)

,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,,
1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Step 7. Delete the Total column

In [15]:
df.drop(['Total'] ,axis=1, inplace=True)
df.head()

,Year,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961,182992000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962,185771000,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963,188483000,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964,191141000,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Step 8. Group the year by decades and sum the values

#### Pay attention to the Population column number, summing this column is a mistake

In [18]:
df.groupby(df.Year).sum().head(10)

,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,
1960,179323175,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961,182992000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1962,185771000,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
1963,188483000,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
1964,191141000,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800
1965,193526000,387390,4352000,9960,23410,138690,215330,1282500,2572600,496900
1966,195576000,430180,4793300,11040,25820,157990,235330,1410100,2822000,561200
1967,197457000,499930,5403500,12240,27620,202910,257160,1632100,3111600,659800
1968,199399000,595010,6125200,13800,31670,262840,286700,1858900,3482700,783600
1969,201385000,661870,6749000,14760,37170,298850,311090,1981900,3888600,878500

### Step 9. What is the mos dangerous decade to live in the US?

In [26]:

df[df.Total ==df.Total.max()]

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
31,1991,252177000,14872900,1911770,12961100,24700,106590,687730,1092740,3157200,8142200,1661700