## List

#### the following step for creat a list

In [1]:
my_list1=[10,20,30,40,50,60]

In [2]:
print(my_list1)

[10, 20, 30, 40, 50, 60]

In [3]:
print(type(my_list1))

<type 'list'>

#### adding a new item to list by using append function

In [4]:
my_list1.append(70)

In [5]:
print(my_list1)

[10, 20, 30, 40, 50, 60, 70]

In [7]:
my_list1.append(70)

In [8]:
my_list1.append(80)

In [9]:
print(my_list1)

[10, 20, 30, 40, 50, 60, 70, 70, 80]

### count is function which is used the number of particular item present inthe list

In [10]:
print(my_list1.count(70))

2

In [11]:
print(my_list1.count(60))

1

In [12]:
my_list2=[90,100,110,120,130]

In [13]:
print(my_list2)

[90, 100, 110, 120, 130]

#### Extend is function in list which makes list to extend the list by appending all tiem from other list

In [15]:
my_list1.extend(my_list2)

In [16]:
print(my_list1)

[10, 20, 30, 40, 50, 60, 70, 70, 80, 90, 100, 110, 120, 130]

 #### index is used to return the indexed value of item present in list

In [20]:
print(my_list1.index(50))

4

In [21]:
print(my_list1.index(10))

0

### slicing is getting a particular iteams in the list

In [23]:
my_list1[1:5]

[20, 30, 40, 50]

In [25]:
print(my_list1[0:10])

[10, 20, 30, 40, 50, 60, 70, 70, 80, 90]

In [26]:
print(my_list1[3:10])

[40, 50, 60, 70, 70, 80, 90]

### insert is function used add a new item in particular index

In [27]:
my_list1.insert(0,9)

In [28]:
print(my_list1)

[9, 10, 20, 30, 40, 50, 60, 70, 70, 80, 90, 100, 110, 120, 130]

In [29]:
my_list1.insert(3,25)
print(my_list1)

[9, 10, 20, 25, 30, 40, 50, 60, 70, 70, 80, 90, 100, 110, 120, 130]

### pop is function used to Remove the item at the given position in the list, and return it. If no index is specified, a.pop() removes and returns the last item in the list.

In [31]:
my_list1.pop(0)

9

In [32]:
print(my_list1)

[10, 20, 25, 30, 40, 50, 60, 70, 70, 80, 90, 100, 110, 120, 130]

In [33]:
my_list1.pop(7)
print(my_list1)

[10, 20, 25, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130]

### Remove is function used to remove the first item from the list

In [34]:
my_list1.remove(25)

In [35]:
print(my_list1)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130]

### sort is fuction used to sort item in ascending order

In [36]:
my_list1.append(1)

In [37]:
print(my_list1)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 1]

In [41]:
my_list1.sort()

In [42]:
print(my_list1)

[1, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130]

### Reverse is function used to reverse the elements of the list in place.

In [43]:
my_list1.reverse()

In [44]:
print(my_list1)

[130, 120, 110, 100, 90, 80, 70, 60, 50, 40, 30, 20, 10, 1]

## tuple 
####tuple is immutable

In [47]:
tup_1 = (1, 2, 3, 4, 5 )
tup_2 = ("a", "b", "c", "d")

In [48]:
print(type(tup_1))

<type 'tuple'>

In [49]:
print(tup_2)

('a', 'b', 'c', 'd')

In [52]:
print(tup_1.count(1))

1

### silcing in tuple

In [54]:
print(tup_1[1:4])

(2, 3, 4)

In [55]:
print(tup_2[0:5])

('a', 'b', 'c', 'd')

In [56]:
print(tup_1.index(1))

0

In [57]:
print(tup_2.index("d"))

3

### converting to list into tuple

In [1]:
my_list=[1,2,3,4,5,6]

In [2]:
print(type(my_list))

<type 'list'>

In [3]:
print(my_list)

[1, 2, 3, 4, 5, 6]

In [4]:
tupl=tuple(my_list)

In [5]:
print(type(tupl))

<type 'tuple'>

In [6]:
print(tupl)

(1, 2, 3, 4, 5, 6)

In [7]:
tupl.count(3)

1

In [11]:
tupl.index(1)

0

In [13]:
len(tupl)

6

In [14]:
tupl[1]

2

In [15]:
tupl[0:5]

(1, 2, 3, 4, 5)

In [16]:
tupl[0:6]

(1, 2, 3, 4, 5, 6)

## Set

In [17]:
s1={1,2,3,4,5,6,7,7,7}

In [18]:
print(s1)

set([1, 2, 3, 4, 5, 6, 7])

In [19]:
print(type(s1))

<type 'set'>

In [20]:
len(s1)

7

In [21]:
min(s1)

1

In [22]:
max(s1)

7

### basic perfromance we done with set function

###  add is function which is used to add new element in set

In [23]:
s1.add(8)

In [24]:
print(s1)

set([1, 2, 3, 4, 5, 6, 7, 8])

In [27]:
#### Clear is function which is used to remove all element in the set and make its as empty set

In [25]:
s1.clear()

In [26]:
print(s1)

set([])

#### copy is function which used to my element from one set to other set

In [29]:
s1={1,2,3,4,4,4,5,5,6,6,8,9,10,7}

In [30]:
print(type(s1))
print(s1)

<type 'set'>
set([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [33]:
s2={}
print(s2)

{}

In [37]:
s2=s1.copy()
print(type(s2))
print(s2)

<type 'set'>
set([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [40]:
s2.add(11)
s2.add(12)
s2.add(13)
s1.add(14)
s1.add(15)
print(s1)
print(s2)

set([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 14, 15])
set([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13])

In [41]:
s1.difference(s2)

{14, 15}

In [42]:
s2.difference(s1)

{11, 12, 13}

### The difference_update() returns None indicating the object (set) is mutated.

In [43]:
print(s1.difference_update(s2))

None

### The discard() method removes a specified element from the set (if present).

In [48]:
s1.discard(14)

In [49]:
print(s1)

set([15])

In [59]:
s1={1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 14, 15}
s2={1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

### The intersection() method returns a new set with elements that are common to all sets.

In [60]:
print(s1.intersection(s2))

set([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

### The intersection_update() updates the set calling intersection_update() method with the intersection of sets.

In [64]:
print(s1.intersection_update(s2))

None

In [65]:
print(s1)

set([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

### The isdisjoint() method returns True if two sets are disjoint sets. If not, it returns False.

In [66]:
s3={13,16,17}

In [67]:
print(s1.isdisjoint(s3))

True

In [68]:
print(s1.isdisjoint(s2))

False

### The issubset() method returns True if all elements of a set are present in another set (passed as an argument). If not, it returns False.

In [69]:
print(s1.issubset(s2))

True

In [70]:
print(s2.issubset(s1))

False

### The pop() method removes an arbitrary element from the set and returns the element removed.

In [71]:
print(s3)
print(s3.pop())

set([16, 17, 13])
16

In [72]:
print(s3)

set([17, 13])

### The symmetric_difference() returns a new set which is the symmetric difference of two sets.

In [73]:
s1={1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 14, 15}
print(s1)
print(s2)

set([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 14, 15])
set([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])

In [74]:
print(s1.symmetric_difference(s2))

set([11, 12, 14, 15])

### The symmetric_difference_update() method updates the set calling the symmetric_difference_update() with the symmetric difference of sets.

In [84]:
s1={1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 14, 15}
print(s1)

print(s2)

set([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 14, 15])
set([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])

In [85]:
s1.symmetric_difference_update(s2)
print(s1)

set([11, 12, 14, 15])

### The union() method returns a new set with distinct elements from all the sets.

In [86]:
s1={1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 14, 15}
print(s1)
print(s2)

set([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 14, 15])
set([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])

In [87]:
print(s1.union(s2))

set([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15])

In [88]:
s1.update(s2)

In [89]:
print(s1)

set([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15])

In [92]:
s1.remove(15)
print(s1)

set([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14])

### list vs tuple with example

##### Syntax of list and tuple is slightly different. Lists are surrounded by square brackets [] and Tuples are surrounded by parenthesis ().

In [94]:
my_list=[1,2,3,4]
print(my_list)
print(type(my_list))
my_tuple=(5,6,7,8)
print(my_tuple)
print(type(my_tuple))

[1, 2, 3, 4]
<type 'list'>
(5, 6, 7, 8)
<type 'tuple'>

#### List has mutable nature i.e., list can be changed or modified after its creation according to needs whereas tuple has immutable nature i.e., tuple canâ€™t be changed or modified after its creation.

In [95]:
my_list[2]=10
print(my_list)

[1, 2, 10, 4]

In [96]:
my_tuple[2]=9

TypeError: 'tuple' object does not support item assignment

In [97]:
print(my_tuple)

(5, 6, 7, 8)

## list vs set with example

##### Sets can't contain duplicates
#### Sets are unordered
#####  In order to find an element in a set, a hash lookup is used (which is why sets are unordered). This makes __contains__ (in operator) a lot more efficient for sets than lists.
#### Sets can only contain hashable items (see #3). If you try: set(([1],[2])) you'll get a TypeError.

In [99]:
list_s1=[5,6,1,2,3,3,]
print(list_s1)
print(type(list_s1))

[5, 6, 1, 2, 3, 3]
<type 'list'>

In [104]:
list_s1.sort()
print(list_s1)

[1, 2, 3, 3, 5, 6]

In [106]:
set_1={1,3,3,3,10,0}
print(type(set_1))

<type 'set'>

In [107]:
print(set_1)

set([0, 1, 10, 3])

### tuple vs set

In [110]:
set3={1,2,3}
print(set3)
set3[1]=10
print(set3)

set([1, 2, 3])

TypeError: 'set' object does not support item assignment

###      convert set to list and tuple

In [112]:
print(type(set3))

<type 'set'>

In [114]:
list_s3=list(set3)
print(list_s3)

print(type(list_s3))

[1, 2, 3]
<type 'list'>

In [115]:
set_s2={3,4,5,6}
print(type(set_s2))

tuple_s2=tuple(set_s2)
print(tuple_s2)
print(type(tuple_s2))

<type 'set'>
(3, 4, 5, 6)
<type 'tuple'>

### Convert list and tuple to set

In [116]:
lis_t1=[1,2,2,3,3,3,5,5,5]
print(type(lis_t1))

<type 'list'>

In [117]:
tupl_t1=(1,2,3,4,5,5)
print(type(tupl_t1))

<type 'tuple'>

In [118]:
set_tu=set(tupl_t1)
print(type(set_tu))
set_ls=set(lis_t1)
print(type(set_ls))

<type 'set'>
<type 'set'>

##  dictionary

In [1]:
my_dict1={'name':'vino','age':27,'degree':'m.s','address':'btown'}
my_dict2={'name':'harish','age':26,'degree':'mba','address':'La'}
print(type(my_dict1))
print(my_dict1)

<type 'dict'>
{'age': 27, 'name': 'vino', 'degree': 'm.s', 'address': 'btown'}

In [3]:
print(my_dict1.keys())
print(my_dict1.items())
print(my_dict1.get('degree'))

['age', 'name', 'degree', 'address']
[('age', 27), ('name', 'vino'), ('degree', 'm.s'), ('address', 'btown')]
m.s

In [4]:
my_dict3=my_dict1.copy()
print(my_dict3)

{'age': 27, 'name': 'vino', 'degree': 'm.s', 'address': 'btown'}

In [5]:
my_dict3.clear()
print(my_dict3)

{}

#### The method fromkeys() creates a new dictionary with keys

In [38]:
my_dict3=my_dict1.fromkeys(my_dict1)
print(my_dict3)

my_dict3.update(my_dict1)
print(my_dict3)

{'name': None, 'degree': None, 'address': None}
{'name': 'vino', 'degree': 'm.s', 'address': 'btown'}

In [39]:
print(my_dict1.has_key('name'))
print(my_dict1.has_key('email'))

True
False

In [40]:
print(my_dict1.items())

[('name', 'vino'), ('degree', 'm.s'), ('address', 'btown')]

In [46]:
my_dict4=my_dict1.iteritems()
print(my_dict4.next())
print(my_dict4.next())
print(my_dict4.next())

('name', 'vino')
('degree', 'm.s')
('address', 'btown')

In [48]:
my_dict4=my_dict1.iterkeys()
print(my_dict4.next())
print(my_dict4.next())
print(my_dict4.next())

name
degree
address

In [51]:
my_dict4=my_dict3.itervalues()
print(my_dict4.next())
print(my_dict4.next())
print(my_dict4.next())

vino
m.s
btown

### The pop() method removes and returns an element from a dictionary having the given key.

In [53]:
print(my_dict2)

{'age': 26, 'name': 'harish', 'degree': 'mba', 'address': 'La'}

In [54]:
my_dict2.pop('age')
print(my_dict2)

{'name': 'harish', 'degree': 'mba', 'address': 'La'}

#### The popitem() returns and removes an arbitrary element (key, value) pair from the dictionary.

In [55]:
print(my_dict3)

{'name': 'vino', 'degree': 'm.s', 'address': 'btown'}

In [56]:
d3=my_dict3.popitem()
print(my_dict3)
print(d3)

{'degree': 'm.s', 'address': 'btown'}
('name', 'vino')

In [57]:
d4=my_dict3.setdefault('address')
print(d4)

btown

In [58]:
my_dict3.setdefault('salary')
print(my_dict3)

{'salary': None, 'degree': 'm.s', 'address': 'btown'}

In [59]:
print(my_dict3.values())

[None, 'm.s', 'btown']

In [61]:
print(my_dict3.viewitems())

dict_items([('salary', None), ('degree', 'm.s'), ('address', 'btown')])

In [62]:
print(my_dict3.viewkeys())
print(my_dict3.viewvalues())

dict_keys(['salary', 'degree', 'address'])
dict_values([None, 'm.s', 'btown'])

In [63]:
my_lis7=["vino","harish","vimal"]
my_tupe=(23,25,29)
my_set={26,78}
my_dict5={'list':my_lis7,'tuple':my_tupe,'set':my_set}

In [64]:
print(my_dict5)

{'set': set([26, 78]), 'list': ['vino', 'harish', 'vimal'], 'tuple': (23, 25, 29)}

## string

In [65]:
my_string1="hi how are you ? i hope everything is good on your side"
print(type(my_string1))
print(my_string1)

<type 'str'>
hi how are you ? i hope everything is good on your side

In [66]:
my_string2="i am doing good how are you ?"

In [72]:
# to capitalize  frist the words in string we use the below given function
print(my_string2.capitalize())
len(my_string2)

I am doing good how are you ?

29

### The center() method returns a string which is padded with the specified character

In [74]:
my5=my_string2.center(40,'*')
print(my5)

*****i am doing good how are you ?******

### The string count() method returns the number of occurrences of a substring in the given string.

In [82]:
my_strin="vino hi how are you vino"
my6="vino"
print(my_strin.count(my6))

2

### The string encode() method returns encoded version of the given string.

In [91]:
myw='python!'
encode_string=myw.encode('base64','strict')
print('The encode version :',encode_string)

('The encode version :', 'cHl0aG9uIQ==\n')

In [92]:
print "Decoded String: " + encode_string.decode('base64','strict')

Decoded String: python!

#### The endswith() method returns True if a string ends with the specified suffix. If not, it returns False.

In [93]:
print(my_strin)
print(my_strin.endswith('you'))
print(my_strin.endswith('vino'))

vino hi how are you vino
False
True

#### The expandtabs() method returns a copy of string with all tab characters '\t' replaced with whitespace characters until the next multiple of tabsize parameter.

In [95]:
my_stri="vino\there\twher"
print(my_stri.expandtabs())

vino    here    wher

### The find() method returns the lowest index of the substring (if found). If not found, it returns -1

In [96]:
print(my_strin)
print(my_strin.find('vino'))
print(my_strin.find('harish'))

vino hi how are you vino
0
-1

### The string format() method formats the given string into a nicer output in Python.

In [97]:
print("Hello {}, your balance is {}.".format("vinoth",10000))

# positional arguments
print("Hello {0}, your balance is {1}.".format("vinoth",100000))

# keyword arguments
print("Hello {name}, your balance is {blc}.".format(name="harish", blc=10000))

# mixed arguments
print("Hello {0}, your balance is {blc}.".format("vino", blc=10000))

Hello vinoth, your balance is 10000.
Hello vinoth, your balance is 100000.
Hello harish, your balance is 10000.
Hello vino, your balance is 10000.

#### The index() method returns the index of a substring inside the string (if found). If the substring is not found, it raises an exception.

In [98]:
print(my_strin.index('hi'))
print(my_strin.index('haris'))

5

ValueError: substring not found

In [99]:
my_stn="vinoth90"
print("is contain number in string  or not ", my_stn.isalnum())
print("is contain number in string  or not",my_string1.isalnum())

('is contain number in string  or not ', True)
('is contain number in string  or not', False)

In [100]:
print('is the string contains alpha or not',my_string1.isalpha())
print("is this string contain slpha   or not ",my_stn.isalnum())

('is the string contains alpha or not', False)
('is this string contain slpha   or not ', True)

In [102]:
print(my_string1.isdigit())
my_st="222222"
print(my_st.isdigit())

False
True

### The islower() method returns True if all alphabets in a string are lowercase alphabets. If the string contains at least one uppercase alphabet, it returns False.

In [104]:
print(my_string1.islower())
my_strl="AAAA"
print(my_strl.islower())

True
False

####

In [107]:
print(my_string1.isspace())
my_str1=" "
print(my_str1.isspace())

False
True

In [108]:
print(my_string1.istitle())
print(my_str1.istitle())

False
False

In [109]:
my_s="Vino Is In Btown"
my_ss="vino is in btown"
print(my_s.istitle())
print(my_ss.istitle())

True
False

### The string isupper() method returns whether or not all characters in a string are uppercased or not.

In [110]:
my_sss="VINO IS IN BTOWN"
print(my_sss.isupper())
print(my_ss.isupper())

True
False

#### The join() is a string method which returns a string concatenated with the elements of an iterable.

In [113]:
my_sssss="vino"
my_sr=my_string1.join(my_sssss)
print(my_sr)

vhi how are you ? i hope everything is good on your sideihi how are you ? i hope everything is good on your sidenhi how are you ? i hope everything is good on your sideo

#### The string ljust() method returns a left-justified string of a given minimum width.

In [114]:
str_my="vino"
print(str_my.ljust(6,'*'))

vino**

In [116]:
print(my_sss.lower())
print(my_sssss.upper())

vino is in btown
VINO

In [123]:
#### The lstrip() method returns a copy of the string with leading characters removed 
##(based on the string argument passed).
print(my_sss.lstrip('IS'))

VINO IS IN BTOWN

In [124]:
print(my_string1.partition('IS'))

('hi how are you ? i hope everything is good on your side', '', '')

In [125]:
print(my_sss.partition('IS'))

('VINO ', 'IS', ' IN BTOWN')

In [126]:
print(my_sss.replace('VINO','HARISH'))

HARISH IS IN BTOWN

In [127]:
print(my_sss.rfind('IS'))

5

In [129]:
print(my_sss.rindex('I',3))

8

In [130]:
print(my_sss.split())
print(my_string1.split())

['VINO', 'IS', 'IN', 'BTOWN']
['hi', 'how', 'are', 'you', '?', 'i', 'hope', 'everything', 'is', 'good', 'on', 'your', 'side']

In [131]:
print(my_sss.rsplit(' ',2))
print(my_sss.rsplit(' ',5))

['VINO IS', 'IN', 'BTOWN']
['VINO', 'IS', 'IN', 'BTOWN']

In [132]:
print(my_string1.splitlines())

['hi how are you ? i hope everything is good on your side']

In [133]:
my_f="vino\nhere\n"
print(my_f.splitlines())

['vino', 'here']

In [134]:
print(my_string1.startswith('hi'))

True

In [137]:
print(my_string1.strip())

hi how are you ? i hope everything is good on your side

In [138]:
my_string1.strip(my_sss)

'hi how are you ? i hope everything is good on your side'

In [139]:
print(my_sss)

VINO IS IN BTOWN

In [140]:
print(my_sss.swapcase())
print(my_string1.swapcase())

vino is in btown
HI HOW ARE YOU ? I HOPE EVERYTHING IS GOOD ON YOUR SIDE

In [141]:
len(my_sss)
print(my_sss.zfill(50))

0000000000000000000000000000000000VINO IS IN BTOWN