# SF Salaries Exercise 

We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle

In [4]:
import pandas as pd

In [5]:
sfs = pd.read_csv("B:\\Salaries.csv")

** Read Salaries.csv as a dataframe called sal.**

In [3]:
sfs.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Check the head of the DataFrame. **

In [4]:
sfs.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [5]:
sfs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [6]:
sfs["BasePay"].mean()

66325.44884050643

** What is the highest amount of OvertimePay in the dataset ? **

In [7]:
sfs["OvertimePay"].max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [10]:
sfs.loc[sfs["EmployeeName"]=="JOSEPH DRISCOLL"]["JobTitle"]

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [12]:
sfs.loc[sfs["EmployeeName"]=="JOSEPH DRISCOLL"]["TotalPayBenefits"]

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [73]:
print sfs["TotalPayBenefits"].max()
sfs.loc[sfs['TotalPayBenefits'] == 567595.43]

567595.43

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [74]:
#sfs["TotalPayBenefits"].min()
print sfs['TotalPayBenefits'].min()
sfs.loc[sfs['TotalPayBenefits'] == -618.13]

-618.13

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [31]:
sfs.groupby('Year')['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [39]:
import numpy as np
# nunique is function used to return the unique value count
sfs["JobTitle"].nunique()

2159

** What are the top 5 most common jobs? **

In [43]:
sfs["JobTitle"].value_counts().head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

202

** How many people have the word Chief in their job title? **

In [75]:
import numpy as np
sfs['JobTitle'].str.contains('Chief').value_counts()

False    148231
True        423
Name: JobTitle, dtype: int64

In [76]:
chief_count=sfs['JobTitle'].str.contains('Chief').sum()
if chief_count>0:
    print ("There are {c} Chief word in jobtitle".format(c=chief_count))

There are 423 Chief word in jobtitle

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [79]:
sfs['title_len'] = sfs['JobTitle'].apply(len)
sfs.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,title_len
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN,46
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN,31
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN,31
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN,36
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN,44

In [83]:
data = sfs[['title_len','TotalPayBenefits']]
data.corr()

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

In [11]:
sfs.groupby(sfs["Year"]==2013)['JobTitle'].value_counts()

Year   JobTitle
False  Transit Operator                       4741
       Special Nurse                          2944
       Registered Nurse                       2505
       TRANSIT OPERATOR                       2388
       Public Svc Aide-Public Works           1659
       Police Officer 3                       1647
       Custodian                              1629
       Firefighter                            1574
       SPECIAL NURSE                          1402
       Recreation Leader                      1317
       Deputy Sheriff                         1280
       Patient Care Assistant                 1269
       REGISTERED NURSE                       1219
       Police Officer                          973
       Public Service Trainee                  889
       CUSTODIAN                               796
       FIREFIGHTER                             794
       POLICE OFFICER III                      779
       Police Officer 2                        758
       Attorney (Civil/Criminal)               755
       Porter                                  735
       RECREATION LEADER                       692
       General Laborer                         690
       Sergeant 3                              686
       DEPUTY SHERIFF                          685
       EMT/Paramedic/Firefighter               621
       Gardener                                590
       Parking Control Officer                 584
       MENTAL HEALTH REHABILITATION WORKER     559
       Senior Clerk                            552
                                              ...
True   Special Assistant 21                      1
       Specialist in Aging 2                     1
       Sprv Adult Prob Ofc (SFERS)               1
       Sr Employee Asst Counselor                1
       Sr General Utility Mechanic               1
       Sr Light Rail Veh Equip Eng               1
       Sr Medical Transcriber Typist             1
       Sr Opers Mgr                              1
       Statistician                              1
       Sup Ct Admin Secretary                    1
       Sup Welfare Fraud Investigator            1
       Supervising Parts Storekeeper             1
       Supply Room Attendant                     1
       Telecommunications Tech Supv              1
       Track Maint Supt, Muni Railway            1
       Traf Signal Electrician Sup II            1
       Traffic Sign Manager                      1
       Traffic Signal Operator                   1
       Training Coordinator                      1
       Training Technician                       1
       Transit Paint Shop Sprv1                  1
       Treasurer                                 1
       Trnst Power Line Wrk Sprv 2               1
       Undersheriff                              1
       Vet Laboratory Technologist               1
       Victim & Witness Technician               1
       Water Meter Shop Supervisor 1             1
       Wharfinger 1                              1
       Window Cleaner Supervisor                 1
       Wire Rope Cable Maint Sprv                1
Name: JobTitle, Length: 3201, dtype: int64